@using System.Web.Optimization
@using TekConf.RemoteData.Dtos.v1
@model TekConf.Web.ViewModels.SpeakersViewModel

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-30">
	<div class="container">
		<h1 class="color-green pull-left">For Speakers</h1>
	</div>
	<!--/container-->
</div>
<!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
	
	<div class="row-fluid">
		<div class="span12">
			<div id="dialog-confirm" title="Remove conference from schedule?">
	</div>
			@if (Request.IsAuthenticated)
			{
				<div class="headline">
					<h3>My Presentations</h3>
				</div>
				@Html.ActionLink("Add Presentation", "Add", new { controller = "Presentations" }, new { @class = "btn-u" })
		 
				<!-- Accardion -->
				<div class="accordion acc-home margin-bottom-40" id="accordion2">

					@foreach (var presentation in Model.Presentations ?? new List<PresentationDto>())
					{
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse-@presentation.Slug">@presentation.Title
								</a>
							</div>
							<div id="collapse-@presentation.Slug" class="accordion-body in collapse" style="height: auto;">
								<div class="accordion-inner">
									<p>@presentation.Description</p>
								</div>
							</div>
						</div>
					}
					<!--/accordion-group-->
				</div>
				<!--/accardion-->
			}


			<!-- General Questions -->
			<div class="headline">
				<h3>Open Calls</h3>
			</div>
			<!-- Accardion -->
			<div class="accordion acc-home" id="accordion3">

				@foreach (var conference in Model.OpenConferences ?? new List<FullConferenceDto>())
				{
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseOpen-@conference.slug">@conference.name
							</a>
						</div>
						<div id="collapseOpen-@conference.slug" class="accordion-body in collapse" style="height: auto;">
							<div class="accordion-inner">
								<p>@conference.description</p>
								<p><a href="~/Conferences/@conference.slug"><button class="btn btn-u">View Conference</button></a></p>
							</div>
						</div>
					</div>
				}

				<!--/accordion-group-->
			</div>

			@if (Request.IsAuthenticated)
			{
				<div class="headline">
					<h3>My Conferences</h3>
				</div>
				<div class="panel-group" id="accordion">

					@foreach (var conference in Model.MyConferences ?? new List<FullConferenceDto>())
					{

						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseMy-@conference.slug">
										@conference.name
									</a>
								</h4>
							</div>
							<div id="collapseMy-@conference.slug" class="panel-collapse collapse @(@conference.slug == Model.MyConferences.First().slug ? "in" : "")">
								<div class="panel-body">
									<p>
										@conference.DateRange<br />
										@conference.FormattedAddress
									</p>
									<p>@conference.description</p>
									<p><a href="~/Conferences/@conference.slug"><button class="btn btn-u">View Conference</button></a></p>
								</div>
							</div>
						</div>
					}

				</div>		 
		 
			}


			@if (Request.IsAuthenticated)
			{
				<div class="headline">
					<h3>My Profile</h3>
				</div>
			}
			<!--/accardion-->
		</div>
		<!--/span8-->

		
	</div>
	<!--/row-fluid-->
</div>
<!--/container-->
<!--=== End Content Part ===-->
@section scripts {
	changeMenuActive('menuSpeakers');
}