@using System.Web.Optimization
@model dynamic

@{
		Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8">
		<link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
		<title>Apps - tekconf</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="description" content="Technical Conferences Programming Mobile Apps" />

		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
		<link rel="search" type="application/opensearchdescription+xml" href="http://www.tekconf.com/TekConf.xml" title="TekConf Search" /> 
		
	@Styles.Render("~/css/apps/index")

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>

		@Html.Partial("Header")

		<div id="subheader">
				<div class="inner">
						<div class="container">
								<h1>Apps</h1>
						</div>
						<!-- /.container -->
				</div>
				<!-- /inner -->
		</div>
		<!-- /subheader -->

		<div id="subpage">
				<div class="container">
						<div class="row">
								<div class="span6 feature-block">
										<h2><span class="slash">//</span> iOS</h2>
										<div class="thumbnail">
												<img src="~/img/Apps/Apple-coming-soon.png" alt="iOS apps coming soon" />
										</div>
										<!-- /thumbnail -->
										<p></p>
								</div>
								<!-- /span6 -->
								<div class="span6 feature-block">
										<h2><span class="slash">//</span> Android</h2>
										<div class="thumbnail">
												<img src="~/img/Apps/Android-coming-soon.png" alt="Android apps coming soon" />
										</div>
										<!-- /thumbnail -->
										<p></p>
								</div>
								<!-- /span6 -->
						</div>
						<!-- /row -->
						<br />
						<br />
						<div class="row">
								<div class="span4 feature-block">
										<h3><span class="slash">//</span> Windows</h3>
										<div class="thumbnail">
												<img src="~/img/Apps/Windows-coming-soon.png" alt="Windows apps coming soon" />
										</div>
										<!-- /thumbnail -->
										<p></p>
								</div>
								<!-- /span4 -->
								<div class="span4 feature-block">
										<h3><span class="slash">//</span> Windows Phone</h3>
										<div class="thumbnail">
												<img src="~/img/Apps/WindowsPhone-coming-soon.png" alt="Windows Phone apps coming soon" />
										</div>
										<!-- /thumbnail -->
										<p></p>

								</div>
								<!-- /span4 -->

								<div class="span4 feature-block">

										<h3><span class="slash">//</span> Mac OS X</h3>

										<div class="thumbnail">
												<img src="~/img/Apps/OSX-coming-soon.png" alt="Mac OS X apps coming soon" />
										</div>
										<!-- /thumbnail -->

										<p></p>

								</div>
								<!-- /span4 -->
						</div>
						<!-- /row -->
						<br />
						<br />

						<!-- /row -->

				</div>
				<!-- /container -->

		</div>
		<!-- /subpage -->

		@Html.Partial("Extra")

		@Html.Partial("Footer")

		@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/jqueryMigrate")
		@Scripts.Render("~/js/common")
		@Scripts.Render("~/bundles/jqueryUI")

		<script>

				$(function () {

				});

		</script>
</body>
</html>
