@using System.Globalization
@using System.Web.Optimization
@model TekConf.UI.Api.Services.Requests.v1.CreateConference
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    <title>Create Conference - tekconf</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet" type="text/css">
    @Styles.Render("~/css/conferences/detail")

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryMigrate")
	@Scripts.Render("~/js/common")
	@Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/scripts/conferences/detail")

</head>

<body>

    @Html.Partial("Header")

    <div id="subheader">
        <div class="inner">
            <div class="container">
                <h1>Create Conference</h1>
            </div>
            <!-- /.container -->
        </div>
        <!-- /inner -->
    </div>
    <!-- /subheader -->

    <div id="subpage">
        <div class="container">
            @using (Html.BeginForm("CreateConference", "AdminConference", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <legend>Main Information</legend>

                    <div class="span4">

                        <label>Conference Name</label>
                        @Html.TextBoxFor(c => c.name)
                        <span class="help-block">Example block-level help text here.</span>

                        <label>Start Date/Time</label>
                        @Html.TextBoxFor(c => c.start, new { type = "datetime"})

                        <label>End Date/Time</label>
                        @Html.TextBoxFor(c => c.end, new { type = "datetime"})

                        <label>Location</label>
                        @Html.TextBoxFor(c => c.location)
                        
                        <label>Tagline</label>
                        @Html.TextBoxFor(c => c.tagline)
                        
                        <label>Call for Speakers Opens</label>
                        @Html.TextBoxFor(c => c.callForSpeakersOpens)
                        
                        <label>Call for Speakers Closes</label>
                        @Html.TextBoxFor(c => c.callForSpeakersCloses)                        
                        
                        <label>Registration Opens</label>
                        @Html.TextBoxFor(c => c.registrationOpens)                        
                        
                         <label>Registration Closes</label>
                        @Html.TextBoxFor(c => c.registrationCloses)                         

                        <label>Image</label>
                        <input type="file" name="file" id="file" />
                        
                        <label>Live on tekconf.com?</label>
                        @Html.CheckBoxFor(c => c.isLive)
                    </div>
                    <div class="span4">
                        <label>Description</label>
                        @Html.TextAreaFor(c => c.description, 30, 150, null)
                    </div>
                    <div class="span4">
                        <label>Address</label>
                        @Html.EditorFor(c => c.address)
                    </div>
                </div>
                <div class="row">
                    <legend>Optional Information</legend>

                    <div class="span4">

                        <label>Website</label>
                        @Html.TextBoxFor(c => c.homepageUrl)

                        <label>Facebook</label>
                        @Html.TextBoxFor(c => c.facebookUrl)

                        <label>Twitter Name</label>
                        @Html.TextBoxFor(c => c.twitterName)

                        <label>Twitter Hash Tag</label>
                        @Html.TextBoxFor(c => c.twitterHashTag)

                        <label>Lanyrd</label>
                        @Html.TextBoxFor(c => c.lanyrdUrl)
                    </div>
                    <div class="span4">
                        <label>Meetup</label>
                        @Html.TextBoxFor(c => c.meetupUrl)

                        <label>Google+</label>
                        @Html.TextBoxFor(c => c.googlePlusUrl)

                        <label>Vimeo</label>
                        @Html.TextBoxFor(c => c.vimeoUrl)

                        <label>YouTube</label>
                        @Html.TextBoxFor(c => c.youtubeUrl)

                        <label>GitHub</label>
                        @Html.TextBoxFor(c => c.githubUrl)

                        <label>LinkedIn</label>
                        @Html.TextBoxFor(c => c.linkedInUrl)
                    </div>

                </div>
                    
                <div class="row">
                    <input type="submit" class="btn-large btn btn-primary" value="Save Conference" />
                </div>      
            }


        </div>
        <!-- /container -->

    </div>
    <!-- /subpage -->

    @Html.Partial("Extra")

    @Html.Partial("Footer")

    @Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryMigrate")
	@Scripts.Render("~/js/common")
	@Scripts.Render("~/bundles/jqueryUI")

    <script>
        $(function () {
            
            $('#start').datetimepicker();
            $('#end').datetimepicker();
            $('#callForSpeakersOpens').datetimepicker();
            $('#callForSpeakersCloses').datetimepicker();
            $('#registrationOpens').datetimepicker();
            $('#registrationCloses').datetimepicker();
        });
    </script>
</body>
</html>
