@using System.Web.Optimization
@model List<ConferencesIO.UI.Web.Models.ApiDocumentation>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Api Documentation - conferences.io</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">

   @Styles.Render("~/css/api/index")

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>
    @Html.Partial("Header")

    <div id="subheader">
        <div class="inner">
            <div class="container">
                <h1>Api Documentation</h1>
            </div>
            <!-- /.container -->
        </div>
        <!-- /inner -->
    </div>
    <!-- /subheader -->

    <div id="subpage">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <h3><span class="slash">//</span> Conferences</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Resource
                                </td>
                                <td>Description
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var documentation in Model)
                            {
                                <tr>
                                    <td>@Html.ActionLink(documentation.HttpMethod + documentation.Resource, "Detail")</td>
                                    <td>@documentation.Description</td>
                                </tr>
                
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /span8 -->

                <div class="span4">
                    <div class="sidebar">
                        <h3><span class="slash">//</span> More Information</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                    <!-- /sidebar -->

                </div>
                <!-- /span4 -->
            </div>
            <!-- /row -->

            <div class="row">
                <div class="span8">
                    <h3><span class="slash">//</span> Sessions</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Resource
                                </td>
                                <td>Description
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>GET v1/conferences/
                                </td>
                                <td>Returns a list of all conferences
                                </td>
                            </tr>
                            <tr>
                                <td>GET v1/conferences/&lt;conference_slug&gt;
                                </td>
                                <td>Returns a list of a single conference
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /span8 -->
            </div>
            <!-- /row -->

            <div class="row">
                <div class="span8">
                    <h3><span class="slash">//</span> Speakers</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Resource
                                </td>
                                <td>Description
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>GET v1/conferences/
                                </td>
                                <td>Returns a list of all conferences
                                </td>
                            </tr>
                            <tr>
                                <td>GET v1/conferences/&lt;conference_slug&gt;
                                </td>
                                <td>Returns a list of a single conference
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /span8 -->
            </div>
            <!-- /row -->


        </div>
        <!-- /container -->
    </div>
    <!-- /subpage -->

    <div id="extra">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <h3><span class="slash">//</span> Quick Links</h3>

                        <ul class="footer-links clearfix">
                            <li><a href="~/">Home</a></li>
                            <li><a href="~/Conferences">Conferences</a></li>
                            <li><a href="~/Schedule">My Schedule</a></li>
                        </ul>

                        <ul class="footer-links clearfix">
                            <li><a href="~/Api">Api</a></li>
                            <li><a href="~/Apps">Apps</a></li>
                        </ul>

                    </div>
                    <!-- /span4 -->

                    <div class="span4">
                        <h3><span class="slash">//</span> Stay In Touch</h3>

                        <p>
                            There are real people behind conferences.io, so if you have a question or suggestion
              (no matter how small) please get in touch with us:
                        </p>
                        <ul class="social-icons-container">
                            <li>
                                <a href="javascript:;" class="social-icon social-icon-twitter">Twitter
                                </a>
                            </li>

                            <li>
                                <a href="javascript:;" class="social-icon social-icon-googleplus">Google +
                                </a>
                            </li>

                            <li>
                                <a href="javascript:;" class="social-icon social-icon-facebook">Facebook
                                </a>
                            </li>
                        </ul>
                        <!-- /extra-social -->
                    </div>
                    <!-- /span4 -->
                    <div class="span4">
                        <h3><span class="slash">//</span> Subscribe and get updates</h3>

                        <p>
                            Subscribe to our newsletter and get exclusive deals you wont find anywhere else
              straight to your inbox!
                        </p>
                        <form>
                            <input type="text" name="subscribe_email" placeholder="Your Email" />
                            <br />
                            <button class="btn ">Subscribe</button>
                        </form>
                    </div>
                    <!-- /span4 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /inner -->
    </div>
    <!-- /extra -->

@Html.Partial("Footer")

    <@Scripts.Render("~/js/commonFaq")

    <script>
        $(function () {
        });
    </script>
</body>
</html>
