@using TekConf.RemoteData.Dtos.v1
@model TekConf.Web.ViewModels.SessionDetailViewModel


<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
	<div class="container">
		<h1 class="tekconf-icon pull-left">@Model.Conference.name</h1>
	</div>
	<!--/container-->
</div>
<!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container portfolio-item">
	<div class="row-fluid margin-bottom-20">
		<!-- Carousel -->
		<div class="span3">
			<img src="@Model.Conference.imageUrl" alt="" style="width:260px;">
		</div>
		<!--/span7-->
		<!-- //End Tabs and Carousel -->

		<div class="span9">
			<h3>@Model.Session.title</h3>
			<ul class="unstyled">
				<li style="font-size: x-large;"><i class="fa fa-calendar tekconf-icon"></i>&nbsp; @Model.Session.startDescription</li>
				<li style="font-size: x-large;"><i class="fa fa-user tekconf-icon"></i> @Model.Session.room</li>
			</ul>
			<p>@Model.Session.description</p>
			<ul class="unstyled">
				@if (!string.IsNullOrWhiteSpace(Model.Session.difficulty))
				{
					<li><i class="fa fa-tags tekconf-icon"></i> @Model.Session.difficulty</li>
				}
				@if (!string.IsNullOrWhiteSpace(Model.Session.twitterHashTag))
				{
					<li><i class="fa fa-tags tekconf-icon"></i> @Model.Session.twitterHashTag</li>
				}
			</ul>
			<p>
				@if (Html.IsAdmin())
				{

					@Html.RouteLink("Edit Session", "AdminEditSession", new { conferenceSlug = Model.Conference.slug, sessionSlug = Model.Session.slug }, new { @class = "btn btn-info" })
					<text>&nbsp;</text>
					@Html.RouteLink("Add Speaker", "AdminAddSpeaker", new { conferenceSlug = Model.Conference.slug, sessionSlug = Model.Session.slug }, new { @class = "btn" })
				}

				@if (Request.IsAuthenticated)
				{
					<a class="btn btn-u btn-u-large" href="#">Add to Schedule</a>
				}
			</p>
		</div>
	</div>
	<!--/row-fluid-->


	<div class="headline">
		<h3>Speakers</h3>
	</div>
	<ul class="thumbnails team">
		@foreach (SpeakersDto speaker in Model.Session.speakers)
		{
			<li class="span3">
				<div class="thumbnail-style">
					<h3>@Html.RouteLink(speaker.fullName, "SessionSpeakerDetail", new { conferenceSlug = Model.Conference.slug, speakerSlug = speaker.slug})</h3>
					<p>@speaker.description</p>

				</div>
			</li>
		}
	</ul>



	<!--/row-->
	<!-- //End Recent Works -->
</div>
<!--/container-->
<!--=== End Content Part ===-->
@section scripts {
	changeMenuActive('menuConferences');
}