@using System.Globalization
@using System.Web.Optimization
@model TekConf.UI.Api.Services.Requests.v1.AddSession
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Add Session - tekconf</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet" type="text/css">
    @Styles.Render("~/css/conferences/detail")

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    @Scripts.Render("~/scripts/conferences/detail")
</head>

<body>

    @Html.Partial("Header")

    <div id="subheader">
        <div class="inner">
            <div class="container">
                <h1>Add Session</h1>
            </div>
            <!-- /.container -->
        </div>
        <!-- /inner -->
    </div>
    <!-- /subheader -->

    <div id="subpage">
        <div class="container">

            @using (Html.BeginForm("AddSessionToConference", "Admin"))
            {
                <div class="row">
                    <legend>Main Information</legend>

                    <div class="span4">

                        <label>Title</label>
                        @Html.TextBoxFor(c => c.title)
                        <span class="help-block">Example block-level help text here.</span>

                        <label>Start Date/Time</label>
                        @Html.TextBoxFor(c => c.start, new { type = "datetime" })

                        <label>End Date/Time</label>
                        @Html.TextBoxFor(c => c.end, new { type = "datetime" })

                        <label>Room</label>
                        @Html.TextBoxFor(c => c.room)

                        <label>Difficulty</label>
                        @Html.TextBoxFor(c => c.difficulty)

                        <label>Session Type</label>
                        @Html.TextBoxFor(c => c.sessionType)

                        <label>Twitter Hash Tag</label>
                        @Html.TextBoxFor(c => c.twitterHashTag)

                        @Html.HiddenFor(c => c.conferenceSlug)
                    </div>
                    <div class="span4">
                        <label>Description</label>
                        @Html.TextAreaFor(c => c.description, 19, 100, null)
                    </div>
                </div>
                <div class="row">
                    <div class="span-4">
                        <table class="table table-bordered table-condensed table-striped" id="prerequisitesTable">
                            <caption>Prerequisites</caption>
                            <tbody>
                                @foreach (var prerequisite in Model.prerequisites ?? new List<string>())
                                {

                                    <tr>
                                        <td>Row #<span>1</span></td>
                                    </tr>
                                }
                                <tr>

                                    <td><a href="#" class="addPrerequisite">Add</a></td>
                                </tr>
                            </tbody>
                        </table>

                        <div id="rowIndex"></div>
                    </div>
                </div> 
                <div class="row">
                    <div class="span-4">
                        <table class="table table-bordered table-condensed table-striped" id="resourcesTable">
                            <caption>Resources</caption>
                            <tbody>
                                @foreach (var resource in Model.resources ?? new List<string>())
                                {

                                    <tr>
                                        <td>Row #<span>1</span></td>
                                    </tr>
                                }
                                <tr>

                                    <td><a href="#" class="addResource">Add</a></td>
                                </tr>
                            </tbody>
                        </table>

                        <div id="rowIndex"></div>
                    </div>
                </div>                 
                <div class="row">
                    <div class="span-4">
                        <table class="table table-bordered table-condensed table-striped" id="subjectsTable">
                            <caption>Subjects</caption>
                            <tbody>
                                @foreach (var subject in Model.subjects ?? new List<string>())
                                {

                                    <tr>
                                        <td>Row #<span>1</span></td>
                                    </tr>
                                }
                                <tr>

                                    <td><a href="#" class="addSubject">Add</a></td>
                                </tr>
                            </tbody>
                        </table>

                        <div id="rowIndex"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="span-4">
                        <table class="table table-bordered table-condensed table-striped" id="tagsTable">
                            <caption>Tags</caption>
                            <tbody>
                                @foreach (var tag in Model.tags ?? new List<string>())
                                {

                                    <tr>
                                        <td>Row #<span>1</span></td>
                                    </tr>
                                }
                                <tr>

                                    <td><a href="#" class="addTag">Add</a></td>
                                </tr>
                            </tbody>
                        </table>

                        <div id="rowIndex"></div>
                    </div>
                </div>                 
                <div class="row">
                    <div class="span-4">
                        <table class="table table-bordered table-condensed table-striped" id="linksTable">
                            <caption>Links</caption>
                            <tbody>
                                <tr>

                                    <td><a href="#" class="addLink">Add</a></td>
                                </tr>
                            </tbody>
                        </table>

                        <div id="rowIndex"></div>
                    </div>
                </div>                                                     
                <div class="row">
                    <input type="submit" class="btn-large btn btn-primary" value="Save Session" />
                </div>      
            }


        </div>
        <!-- /container -->

    </div>
    <!-- /subpage -->

    @Html.Partial("Extra")

    @Html.Partial("Footer")

    @Scripts.Render("~/js/common")

    <script>
        $(function () {
            $('#start').datetimepicker();
            $('#end').datetimepicker();
        });

        $('.addPrerequisite').live('click', function (e) {
            e.preventDefault();

            $(this).closest('tr').after('<tr><td><input type="text" id="prerequisite" /><span></span></td></tr>');

            $('#prerequisitesTable td').each(function (index, el) {
                var element = index - 1;
                $('input', this).attr('id', 'prerequisites[' + element + ']');
                $('input', this).attr('name', 'prerequisites[' + element + ']');

            });
        });
        
        $('.addResource').live('click', function (e) {
            e.preventDefault();

            $(this).closest('tr').after('<tr><td><input type="text" /><span></span></td></tr>');

            $('#resourcesTable td').each(function (index, el) {
                var element = index - 1;
                $('input', this).attr('id', 'resources[' + element + ']');
                $('input', this).attr('name', 'resources[' + element + ']');

            });
        });
        
        $('.addSubject').live('click', function (e) {
            e.preventDefault();

            $(this).closest('tr').after('<tr><td><input type="text" /><span></span></td></tr>');

            $('#subjectsTable td').each(function (index, el) {
                var element = index - 1;
                $('input', this).attr('id', 'subjects[' + element + ']');
                $('input', this).attr('name', 'subjects[' + element + ']');

            });
        });
        
        $('.addTag').live('click', function (e) {
            e.preventDefault();

            $(this).closest('tr').after('<tr><td><input type="text" /><span></span></td></tr>');

            $('#tagsTable td').each(function (index, el) {
                var element = index - 1;
                $('input', this).attr('id', 'tags[' + element + ']');
                $('input', this).attr('name', 'tags[' + element + ']');

            });
        });
        
        $('.addLink').live('click', function (e) {
            e.preventDefault();

            $(this).closest('tr').after('<tr><td><input type="text" /><span></span></td></tr>');

            $('#linksTable td').each(function (index, el) {
                var element = index - 1;
                $('input', this).attr('id', 'links[' + element + ']');
                $('input', this).attr('name', 'links[' + element + ']');

            });
        });
    </script>
</body>
</html>
