@using System.Web.Optimization
@model TekConf.UI.Web.Controllers.SpeakerDetailViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>@Model.Conference.name- @Model.Speaker.fullName - tekconf</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet" type="text/css">
    @Styles.Render("~/css/session/detail")

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>

    @Html.Partial("Header")

    <div id="subheader">
        <div class="inner">
            <div class="container">
                <h1>@Model.Conference.name</h1>
            </div>
            <!-- /.container -->
        </div>
        <!-- /inner -->
    </div>
    <!-- /subheader -->

    <div id="subpage">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="big-intro">@Model.Speaker.fullName</div>
                </div>
                <!-- /span12 -->
            </div>
            <!-- /row -->
            <br />
            <br />

            <div class="row">

                <div class="span6">
                    @if (!string.IsNullOrWhiteSpace(@Model.Speaker.description))
                    {
                        <p>@Model.Speaker.description</p>
                    }
                    else
                    {
                        <p>@Model.Speaker.fullName has not given us any bio.</p>
                    }
                </div>
                <!-- /span6 -->

                <div class="span4">
                    <div class="sidebar">
                        <h4><span class="slash">//</span> More Information</h4>
                        <p>
                            @if (!string.IsNullOrWhiteSpace(Model.Speaker.blogUrl))
                            {
                                <b>Website :</b>
                                @HtmlHelpers.SimpleLink(Model.Speaker.blogUrl, Model.Speaker.blogUrl )<br />
                            }
                            
                            @if (!string.IsNullOrWhiteSpace(Model.Speaker.emailAddress))
                            {
                                <b>Email :</b>
                                @Model.Speaker.emailAddress<br />
                            }
                            
                            @if (!string.IsNullOrWhiteSpace(Model.Speaker.facebookUrl))
                            {
                                <b>Facebook :</b>
                                @HtmlHelpers.SimpleLink(Model.Speaker.facebookUrl,Model.Speaker.facebookUrl)<br />
                            }
                            
                            @if (!string.IsNullOrWhiteSpace(Model.Speaker.linkedInUrl))
                            {
                                <b>Linked :</b>
                                @HtmlHelpers.SimpleLink(Model.Speaker.linkedInUrl, Model.Speaker.linkedInUrl)<br />
                            }
                            
                            @if (!string.IsNullOrWhiteSpace(Model.Speaker.twitterName))
                            {
                                <b>Twitter :</b>
                                @HtmlHelpers.TwitterUserLink(Model.Speaker.twitterName)<br />
                            }

                            @if (!string.IsNullOrWhiteSpace(Model.Speaker.phoneNumber))
                            {
                                <b>Phone :</b>
                                @HtmlHelpers.PhoneLink(Model.Speaker.phoneNumber)<br />
                            }
                        </p>

                    </div>
                    <!-- /sidebar -->
                </div>
                <!-- /span4 -->


            </div>
            <!-- /row -->

            <br />
            <br />

            <div class="row">
                <div class="span12">
                    @if (Model.Sessions.Any())
                    {
                        <h3><span class="slash">//</span> Sessions</h3>
                    }
                </div>
                <!-- /span12 -->

                @foreach (var session in Model.Sessions)
                {
                    
                    <div class="span4">
                        <div class="about-user">
                            <div class="img">
                                <img src="~/img/avatar.png" alt="@session.title" />
                            </div>
                
                            <h4>@Html.RouteLink(session.title, "SessionDetail", new { conferenceSlug = Model.Conference.slug, sessionSlug = session.slug }, null)</h4>

                            <p>@session.description</p>
                        </div>
                        <!-- /about-user -->

                    </div>
                    <!-- /span4 -->                    
                }
            </div>
            <!-- /row -->

        </div>
        <!-- /container -->

    </div>
    <!-- /subpage -->

    @Html.Partial("Extra")

    @Html.Partial("Footer")

    @Scripts.Render("~/js/common")

    <script>
        $(function () {

        });
    </script>
</body>
</html>
