@using System.Web.Optimization
@using TekConf.RemoteData.Dtos.v1
@model TekConf.UI.Web.ViewModels.SpeakersViewModel

@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>For Speakers - tekconf</title>
	<link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">

	@Styles.Render("~/css/api/index")

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>
	@Html.Partial("Header")

	<div id="subheader">
		<div class="inner">
			<div class="container">
				<h1>For Speakers</h1>
			</div>
			<!-- /.container -->
		</div>
		<!-- /inner -->
	</div>
	<!-- /subheader -->

	<div id="subpage">
		<div class="container">
			
					@if (Request.IsAuthenticated)
					{
						<div class="page-header">
							<h3>My Presentations</h3>
						</div>
						<div class="span12">
							@Html.ActionLink("Add Presentation", "Add", new {controller = "Presentations"}, new {@class = "btn btn-large btn-success "})
							<br /><br/>
							<table class="table table-hover">
								<tbody>
									@foreach (var presentation in Model.Presentations ?? new List<PresentationDto>())
									{
										<tr>
											<td style="width: 125px">
												<img src="@presentation.ImagePath" style="height: 80px;" /><br />
												<br />
												@Html.RouteLink("View Presentation", "PresentationDetail", new {slug = presentation.Slug}, new {@class = "btn btn-primary btn-mini"})
											</td>
											<td>
												<h3>@presentation.Title</h3>
												Uploaded : @presentation.UploadedOn<br /><br />
												@presentation.Description
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					}

			<div class="page-header">
				<h3>Open Calls</h3>
			</div>
			<div class="span12">
				<table class="table table-hover">
					<tbody>
						@foreach (var conference in Model.OpenConferences ?? new List<ConferencesDto>())
						{
							<tr>
								<td style="width: 125px">
									<img src="@conference.imageUrl" style="height:80px;" /><br />
									<br />
									<a href="~/Conferences/@conference.slug" class="btn btn-primary btn-mini">View Conference</a>
								</td>
								<td>
									<h3>@conference.name</h3>
									Call for Speakers : @HtmlHelpers.FormatDateRange(conference.callForSpeakersOpens, conference.callForSpeakersCloses)<br />
									Conference : @HtmlHelpers.FormatDateRange(conference.start, conference.end)<br />
									Location : @HtmlHelpers.FormatAddress(conference.address)
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>

			@if (Request.IsAuthenticated)
			{
				<div class="page-header">
					<h3>My Conferences</h3>
				</div>
				<div class="span12">
					<table class="table table-hover">
						<tbody>
							@foreach (var conference in Model.MyConferences ?? new List<FullConferenceDto>())
							{
								<tr>
									<td style="width: 125px">
										<img src="@conference.imageUrl" style="height: 80px;" /><br />
										<br />
										<a href="~/Conferences/@conference.slug" class="btn btn-primary btn-mini">View Conference</a>
									</td>
									<td>
										<h3>@conference.name</h3>
										Date : @HtmlHelpers.FormatDateRange(conference.start, conference.end)
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>




				<div class="page-header">
					<h3>My Profile</h3>
				</div>
			}
		</div>
		<!-- /container -->
	</div>
	<!-- /subpage -->

	@Html.Partial("Extra")

	@Html.Partial("Footer")

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryMigrate")
	@Scripts.Render("~/js/common")
	@Scripts.Render("~/js/commonFaq")

	<script>
		$(function () {
		});
	</script>
</body>
</html>
