@using System.Web.Optimization
@model TekConf.Web.ViewModels.AddPresentationHistoryViewModel


	<div id="subheader">
		<div class="inner">
			<div class="container">
				<h1>Add Presentation History</h1>
			</div>
			<!-- /.container -->
		</div>
		<!-- /inner -->
	</div>
	<!-- /subheader -->

	<div id="subpage">
		<div class="container">
			<div class="row">
				@if (Request.IsAuthenticated)
		{
			using (Html.BeginForm("AddHistory", "Presentations", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
			{
					<div class="row">
						<div class="span4">
							<div class="control-group">
								@Html.HiddenFor(c => c.SpeakerSlug)
								@Html.HiddenFor(c => c.PresentationSlug)
								@Html.LabelFor(m => m.ConferenceName, new { @class = "control-label" })
								<div class="controls">
									@Html.TextBoxFor(m => m.ConferenceName, new { placeholder = "Conference Name" })
								</div>
							</div>
							<div class="control-group">
								@Html.LabelFor(m => m.DatePresented, new { @class = "control-label" })
								<div class="controls">
									@Html.TextBoxFor(m => m.DatePresented, new { placeholder = "Date Presented" })
								</div>
							</div>
							<div class="control-group">
								@Html.LabelFor(m => m.Notes, new { @class = "control-label" })
								<div class="controls">
									@Html.TextAreaFor(m => m.Notes, 10, 20, new { placeholder = "Notes" })
								</div>
							</div>
						</div>
						<div class="span4">
							<div class="control-group">
								<table class="table table-bordered table-condensed table-striped" id="linksTable">
									<tbody>
										<tr>
											<td><i class="fa fa-plus" /> <a href="#" class="addLink">Add Link</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

					</div>
					<div class="form-actions">
						<input type="submit" class="btn btn-large btn-success" value="Add Presentation" />
					</div>
			}
		}
			</div>
		</div>


		<!-- /container -->
	</div>
	<!-- /subpage -->

	<script>
		$(function () {

			$(document).on("click", ".addLink", function (e) {
				e.preventDefault();
				//<div class="control-group"><label class="control-label" for="inputEmail">Date</label><div class="controls"><input type="text" id="inputEmail" placeholder="Date"></div></div>

				$(this).closest('tr').after('<tr><td><input type="text" /><span></span></td></tr>');

				$('#linksTable td').each(function (index, el) {
					var element = index - 1;
					$('input', this).attr('id', 'links[' + element + ']');
					$('input', this).attr('name', 'links[' + element + ']');

				});
			});

		});
	</script>