@using System.Globalization
@using System.Web.Optimization
@model TekConf.RemoteData.Dtos.v1.PresentationDto


	<div id="subheader">
		<div class="inner">
			<div class="container">
				<h1>@Model.Title</h1>
			</div>
			<!-- /.container -->
		</div>
		<!-- /inner -->
	</div>
	<!-- /subheader -->

	<div id="subpage">
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="big-intro">
						<img src="@Model.ImageUrl" alt="@Model.Title" style="horiz-align: left;">
						@if (@Model.Videos.Any())
							{
							<iframe width="422" height="316" src="@Model.Videos[0]" frameborder="0" allowfullscreen></iframe>
							}
					</div>
				</div>
			</div>


			<br />
			<div class="row">

				<div class="span8">
					@Model.Description
					<br />

					@Model.Comments
				</div>
				<div class="span4">


					<div class="sidebar">
						<h4><span class="slash">//</span> More Information</h4>
						<p>
							<b>Level/Difficulty :</b> @Model.Difficulty
							<br />
							<b>Expected Length :</b> @Model.Length
							<br />
							<b>Uploaded :</b> @Model.UploadedOn
							<br />
							<b>Number of Views :</b> @Model.NumberOfViews
							<br />
						</p>

						@if (Model.Subjects != null && Model.Subjects.Any())
			{
							<b>Subjects</b>
							<p>
								@foreach (var subject in Model.Subjects)
				{
									@subject<br />
				}
							</p>
			}

						@if (Model.Tags != null && Model.Tags.Any())
			{
							<b>Tags</b>
							<p>
								@foreach (var tag in Model.Tags)
				{
									@tag<br />
				}
							</p>
			}

						@if (Model.DownloadPaths != null && Model.DownloadPaths.Any())
			{
							<b>Download Paths</b>
							<p>
								@foreach (var downloadPath in Model.DownloadPaths)
				{
									@downloadPath
				}
							</p>
			}

						@if (Model.History != null && Model.History.Any())
			{
							<b>History</b>
							<p>
								@foreach (var history in Model.History)
				{
									@history.ConferenceName
				}
							</p>
			}

						<br />
					</div>


				</div>




			</div>
			<!-- /row -->

			<br />
			<br />

			<div class="row">
			</div>
			<!-- /row -->

		</div>
		<!-- /container -->

	</div>
