@using System.Globalization
@using System.Web.Optimization
@model TekConf.UI.Api.Services.Requests.v1.AddSession
@section head {
	<link rel="stylesheet" href="~/Scripts/tagmanager.css">
}

<div id="subheader">
	<div class="inner">
		<div class="container">
			<h1>Edit Session</h1>
		</div>
		<!-- /.container -->
	</div>
	<!-- /inner -->
</div>
<!-- /subheader -->

<div id="subpage">
	<div class="container">

		@using (Html.BeginForm("EditSessionInConference", "AdminSession"))
		{
			<div class="row">
				<legend>Main Information</legend>

				<div class="span4">
					@Html.HiddenFor(s => s.slug)

					<label>Title</label>
					@Html.TextBoxFor(c => c.title)

					<label>Start Date/Time</label>
					@Html.TextBoxFor(c => c.start, new { type = "datetime" })

					<label>End Date/Time</label>
					@Html.TextBoxFor(c => c.end, new { type = "datetime" })

					<label>Room</label>
					@Html.DropDownList("room", ViewBag.RoomsList as IEnumerable<SelectListItem>, "")

					<label>Difficulty</label>
					@Html.DropDownList("difficulty", ViewBag.DifficultiesList as IEnumerable<SelectListItem>, "")

					<label>Session Type</label>
					@Html.DropDownList("sessionType", ViewBag.SessionTypesList as IEnumerable<SelectListItem>, "")

					<label>Twitter Hash Tag</label>
					@Html.TextBoxFor(c => c.twitterHashTag)

					@Html.HiddenFor(c => c.conferenceSlug)
				</div>
				<div class="span4">
					<label>Description</label>
					@Html.TextAreaFor(c => c.description, 19, 100, null)
				</div>
			</div>

			<div class="row">
				<div class="span-4">
					<table class="table table-bordered table-condensed table-striped" id="prerequisitesTable">
						<caption style="text-align: left">Prerequisites</caption>
						<tbody>
							<tr>
								<td><a href="#" class="addPrerequisite">Add</a></td>
							</tr>
							@for (var counter = 0; counter < Model.prerequisites.Count; counter++)
							{
								<tr>
									<td>
										<input type="text" id="prerequisites[@counter]" name="prerequisites[@counter]" value="@Model.prerequisites[counter]" />
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="span-4">
					<table class="table table-bordered table-condensed table-striped" id="resourcesTable">
						<caption style="text-align: left">Resources</caption>
						<tbody>
							<tr>
								<td><a href="#" class="addResource">Add</a></td>
							</tr>
							@for (var counter = 0; counter < Model.resources.Count; counter++)
							{
								<tr>
									<td>
										<input type="text" id="resources[@counter]" name="resources[@counter]" value="@Model.resources[counter]" />
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="span-4">
					<table class="table table-bordered table-condensed table-striped" id="linksTable">
						<caption style="text-align: left">Links</caption>
						<tbody>
							<tr>
								<td><a href="#" class="addLink">Add</a></td>
							</tr>
							@for (var counter = 0; counter < Model.links.Count; counter++)
							{
								<tr>
									<td>
										<input type="text" id="links[@counter]" name="links[@counter]" value="@Model.links[counter]" />
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<label>Tags</label>
					<input type="text" name="tags" placeholder="Add Tag <Enter>" class="tagTagManager" />
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<label>Subjects</label>
					<input type="text" name="subjects" id="subjects" placeholder="Add Subject <Enter>" class="subjectTagManager" />
				</div>
			</div>
			<div class="row">
				<input type="submit" class="btn-large btn btn-success" value="Save Session" />
			</div>
		}


	</div>
	<!-- /container -->

</div>
<!-- /subpage -->
@section scripts {
	changeMenuActive('menuAdmin');
}

@section scriptLinks {
	<script src="~/Scripts/tagmanager.js"></script>
	
	@{
		var subjects = "";
		foreach (var subjectList in Model.subjects)
		{
			foreach (var subject in subjectList.Split(','))
			{
				subjects = subjects + "\"" + subject + "\",";
			}
		}
		subjects = subjects.TrimEnd(new char[] { ',' });	
	}
	
	<script>
		$(function () {
			$('#start').datetimepicker();
			$('#end').datetimepicker();
			$(".tagTagManager").tagsManager();
			$(".subjectTagManager").tagsManager({
				prefilled: [@subjects],
				hiddenTagListName: 'hidden-subjects',
			});

			@foreach (var tagList in Model.tags)
            {
	            foreach (var tag in tagList)
	            {
		            <text>$(".tagTagManager").tagsManager('pushTag', '@tag');</text>
	            }
            }
		});


		$('#start').change(function () {
			var startDate = new Date($('#start').val());
			var endDate = addMinutes(startDate, '@Model.defaultTalkLength');

			var endDateMonth = endDate.getMonth() + 1;
			var endDateDay = endDate.getDate();
			var endDateYear = endDate.getFullYear();
			var endDateTime = formatAMPM(endDate);

			$('#end').val(endDateMonth + '/' + endDateDay + '/' + endDateYear + ' ' + endDateTime);
		});

		$(document).on("click", ".addPrerequisite", function (e) {
			e.preventDefault();

			$(this).closest('tr').after('<tr><td><input type="text" id="prerequisite" /><span></span></td></tr>');

			$('#prerequisitesTable td').each(function (index, el) {
				var element = index - 1;
				$('input', this).attr('id', 'prerequisites[' + element + ']');
				$('input', this).attr('name', 'prerequisites[' + element + ']');

			});
		});

		$(document).on("click", ".addResource", function (e) {
			e.preventDefault();

			$(this).closest('tr').after('<tr><td><input type="text" /></td></tr>');

			$('#resourcesTable td').each(function (index, el) {
				var element = index - 1;
				$('input', this).attr('id', 'resources[' + element + ']');
				$('input', this).attr('name', 'resources[' + element + ']');

			});
		});

		$(document).on("click", ".addLink", function (e) {
			e.preventDefault();

			$(this).closest('tr').after('<tr><td><input type="text" /></td></tr>');

			$('#linksTable td').each(function (index, el) {
				var element = index - 1;
				$('input', this).attr('id', 'links[' + element + ']');
				$('input', this).attr('name', 'links[' + element + ']');

			});
		});

		$(document).on("click", ".addSpeaker", function (e) {
			e.preventDefault();

			$(this).closest('tr').after('<tr><td><input type="text" /></td></tr>');

			$('#speakersTable td').each(function (index, el) {
				var element = index - 1;
				$('input', this).attr('id', 'speakers[' + element + ']');
				$('input', this).attr('name', 'speakers[' + element + ']');

			});
		});
	</script>
}