@using System.Web.Optimization
@model List<ConferencesIO.RemoteData.Dtos.v1.ConferencesDto>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Conferences - conferences.io</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">

    @Styles.Render("~/css/conferences/index")

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>
    @Html.Partial("Header")

    <div id="subheader">
        <div class="inner">
            <div class="container">
                <h1>Conferences</h1>
            </div>
            <!-- /.container -->
        </div>
        <!-- /inner -->
    </div>
    <!-- /subheader -->

    <div id="subpage">
        <div class="container">
            <div class="row">
                <ul class="thumbnails">
                    @foreach (var conference in Model)
                    {
                        <li class="span3">
                            <div class="thumbnail" style="height: 575px;">
                                <img src="@conference.imageUrl" alt="@conference.name">
                                <div class="caption">
                                    <h3>@conference.name</h3>
                                    <h4>@conference.start.ToShortDateString()<text> - </text>@conference.end.ToShortDateString()<text> - </text>@conference.location</h4>
                                    <p style="height: 231px;">
                                        @conference.description
                                    </p>
                                    <p>
                                        <a href="~/Conferences/@conference.slug" class="btn btn-primary">View Conference</a> <a href="#" class="btn">I'm Attending!</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>

        </div>
        <!-- /container -->

    </div>
    <!-- /subpage -->






    <div id="extra">

        <div class="inner">

            <div class="container">

                <div class="row">

                    <div class="span4">

                        <h3><span class="slash">//</span> Quick Links</h3>

                        <ul class="nav pull-right">
                            <li class="active">
                                <a href="~/">Home
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="~/Conferences">Conferences
                                </a>
                            </li>
                            <li>
                                <a href="~/Schedule">My Schedule
                                </a>
                            </li>
                            <li>
                                <a href="~/Api">Api
                                </a>
                            </li>
                            <li>
                                <a href="~/Apps">Apps
                                </a>
                            </li>
                        </ul>
                        <ul class="footer-links clearfix">
                            <li><a href="~/">Home</a></li>
                            <li><a href="~/Conferences">Conferences</a></li>
                            <li><a href="~/Schedule">My Schedule</a></li>
                        </ul>

                        <ul class="footer-links clearfix">
                            <li><a href="~/Api">Api</a></li>
                            <li><a href="~/Apps">Apps</a></li>
                        </ul>

                    </div>
                    <!-- /span4 -->


                    <div class="span4">

                        <h3><span class="slash">//</span> Stay In Touch</h3>


                        <p>
                            There are real people behind conferences.io, so if you have a question or suggestion
              (no matter how small) please get in touch with us:
                        </p>

                        <ul class="social-icons-container">

                            <li>
                                <a href="javascript:;" class="social-icon social-icon-twitter">Twitter
                                </a>
                            </li>

                            <li>
                                <a href="javascript:;" class="social-icon social-icon-googleplus">Google +
                                </a>
                            </li>

                            <li>
                                <a href="javascript:;" class="social-icon social-icon-facebook">Facebook
                                </a>
                            </li>

                        </ul>
                        <!-- /extra-social -->

                    </div>
                    <!-- /span4 -->

                    <div class="span4">

                        <h3><span class="slash">//</span> Subscribe and get updates</h3>


                        <p>
                            Subscribe to our newsletter and get exclusive deals you wont find anywhere else
              straight to your inbox!
                        </p>


                        <form>

                            <input type="text" name="subscribe_email" placeholder="Your Email" />

                            <br />

                            <button class="btn ">Subscribe</button>
                        </form>


                    </div>
                    <!-- /span4 -->

                </div>
                <!-- /row -->

            </div>
            <!-- /container -->

        </div>
        <!-- /inner -->

    </div>
    <!-- /extra -->

@Html.Partial("Footer")


    <script src="~/js/jquery-1.7.2.min.js"></script>
    <script src="~/js/bootstrap.js"></script>

    <script>

        $(function () {

        });

    </script>
</body>
</html>
