@using System.Globalization
@using System.Web.Optimization
@model TekConf.RemoteData.Dtos.v1.FullConferenceDto
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@Model.name - tekconf</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet" type="text/css">


    @Styles.Render("~/css/conferences/detail")

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
    @Html.Partial("Header")

    <div id="subheader">
        <div class="inner">
            <div class="container">
                <h1>@Model.name</h1>
            </div>
            <!-- /.container -->
        </div>
        <!-- /inner -->
    </div>
    <!-- /subheader -->
    <div id="subpage">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="big-intro">
                        <img src="@Model.imageUrl" alt="@Model.name">
                        @Model.tagline
                    </div>
                </div>
                <!-- /span12 -->
            </div>
            <!-- /row -->
            <br />
            <br />
            @{
                var sessionGroup = Model.sessions
                .GroupBy(s => new { s.start.Year, s.start.Month, s.start.Day })
                .Select(s => new { DateKey = s.Key, Sessions = s })
                .ToList();
            }

            <div class="span9">
                
             
                        @foreach (var dayGroup in sessionGroup.OrderBy(s => s.DateKey.Year).ThenBy(s => s.DateKey.Month).ThenBy(s => s.DateKey.Day))
                        {
                            var date = DateTime.Parse(dayGroup.DateKey.Month + "/" + dayGroup.DateKey.Day + "/" + dayGroup.DateKey.Year);
                            var tabName = date.ToString("dddd, MMMM d", CultureInfo.CreateSpecificCulture("en-US")).Replace(" ", "").Replace(",", "");
                            var dateString = date.ToString("dddd, MMMM d", CultureInfo.CreateSpecificCulture("en-US"));

                                <div class="row">
                                    <div class="span12">
                                        <h3>

                                            <span class="slash">//</span> @dateString
                                        </h3>
                                    </div>
                                    <!-- /span12 -->
                                    <table class="table">
                                        <tbody>
                                            @{
                                                var sessionTimes = dayGroup.Sessions
                                                    .GroupBy(s => new { s.start })
                                                    .Select(s => new { DateKey = s.Key, Sessions = s })
                                                    .ToList();
                                            }
                                            @foreach (var sessionTime in sessionTimes)
                                            {
                                                <tr>
                                                    <td colspan="3">@sessionTime.DateKey.start.ToShortTimeString()</td>
                                                </tr>
                                                foreach (var session in sessionTime.Sessions.OrderBy(s => s.start.TimeOfDay))
                                                {
                                
                                                <tr>
                                                    <td><a href="#" class="btn btn-mini btn-inverse">Add to Schedule</a></td>
                                                    <td>
                                                        @Html.RouteLink(session.title, "SessionDetail", new { conferenceSlug = Model.slug, sessionSlug = session.slug }, null)
                                                    </td>
                                                    <td>
                                                        @foreach (var speaker in session.speakers)
                                                        {
                                                            @Html.RouteLink(speaker.firstName + " " + @speaker.lastName, "SessionSpeakerDetail", new { conferenceSlug = Model.slug, sessionSlug = session.slug, speakerSlug = speaker.slug }, null)
                                                        }
                                                    </td>
                                                </tr>                                
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>

                        }

                    </div>
     
            <br />
            <br />

        </div>
        <!-- /container -->
    </div>
    <!-- /subpage -->
    <div id="extra">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <h3>
                            <span class="slash">//</span> Quick Links</h3>
                        <ul class="footer-links clearfix">
                            <li><a href="~/">Home</a></li>
                            <li><a href="~/Conferences">Conferences</a></li>
                            <li><a href="~/Schedule">My Schedule</a></li>
                        </ul>
                        <ul class="footer-links clearfix">
                            <li><a href="~/Api">Api</a></li>
                            <li><a href="~/Apps">Apps</a></li>
                        </ul>
                    </div>
                    <!-- /span4 -->
                    <div class="span4">
                        <h3>
                            <span class="slash">//</span> Stay In Touch</h3>
                        <p>
                            There are real people behind tekconf, so if you have a question or suggestion
              (no matter how small) please get in touch with us:
                        </p>
                        <ul class="social-icons-container">
                            <li><a href="javascript:;" class="social-icon social-icon-twitter">Twitter </a></li>
                            <li><a href="javascript:;" class="social-icon social-icon-googleplus">Google + </a>
                            </li>
                            <li><a href="javascript:;" class="social-icon social-icon-facebook">Facebook </a>
                            </li>
                        </ul>
                        <!-- /extra-social -->
                    </div>
                    <!-- /span4 -->
                    <div class="span4">
                        <h3>
                            <span class="slash">//</span> Subscribe and get updates</h3>
                        <p>
                            Subscribe to our newsletter and get exclusive deals you wont find anywhere else
              straight to your inbox!
                        </p>
                        <form>
                            <input type="text" name="subscribe_email" placeholder="Your Email" />
                            <br />
                            <button class="btn ">
                                Subscribe</button>
                        </form>
                    </div>
                    <!-- /span4 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /inner -->
    </div>
    <!-- /extra -->

    @Html.Partial("Footer")

    @Scripts.Render("~/js/common")
    <script>
        $(function () {

        });
    </script>
</body>
</html>
