@using System.Web.Optimization
@model List<TekConf.RemoteData.Dtos.v1.FullConferenceDto>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Conferences - tekconf</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">

    @Styles.Render("~/css/conferences/index")

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>
    @Html.Partial("Header")

    <div id="subheader">
        <div class="inner">
            <div class="container">
                <h1>Conferences</h1>
            </div>
            <!-- /.container -->
        </div>
        <!-- /inner -->
    </div>
    <!-- /subheader -->

    <div id="subpage">
        <div class="container">
            <div class="row">
                @using (Html.BeginForm())
                {
                    var sorts = new List<SelectListItem>()
                                    {
                                        new SelectListItem() { Text = "Start Date", Value = "startDate"},
                                        new SelectListItem() { Text = "Name", Value = "name" },
                                        new SelectListItem() { Text = "Call for Speakers Opening", Value = "callForSpeakersOpeningDate"},
                                        new SelectListItem() { Text = "Call for Speakers Closing", Value = "callForSpeakersClosingDate"},
                                        new SelectListItem() { Text = "Tickets on Sale Date", Value = "registrationOpens"},
                                        new SelectListItem() { Text = "Date Added", Value = "dateAdded"}
                                    };
                    
                    <div class="span3 sortBy">
                        @Html.DropDownList("sortBy", sorts, new { @onchange = "this.form.submit();" })
                    </div>
                    <div class="span3 showPastConferences">
                        <text>&nbsp;&nbsp;</text>@Html.CheckBox("showPastConferences", new { @onchange = "this.form.submit();" })<text> Show Past Conferences?</text>                        
                    </div>
                    <div class="span6 searchBox">
                        @Html.TextBox("search")
                        <button class="btn" onclick="this.form.submit()" style="margin-right:30px;">Search</button>
                    </div>
                }
            </div>

            <div class="row">
                <ul class="thumbnails">
                    
                    @if (Model != null)
                    {
                        @foreach (var conference in Model)
                        {
                            <li class="span3">
                                <div class="thumbnail" style="height: 575px;">
                                    <img src="@conference.imageUrl" alt="@conference.name">
                                    <div class="caption">
                                        <h3>@conference.name</h3>
                                        <h4>@HtmlHelpers.FormatDateRange(conference.start, conference.end)<br />@conference.location</h4>
                                        <p style="height: 231px;">
                                            @conference.description
                                        </p>
                                        <p>
                                            <a href="~/Conferences/@conference.slug" class="btn btn-primary">View Conference</a> <a href="#" class="btn">I'm Attending!</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>

        </div>
        <!-- /container -->

    </div>
    <!-- /subpage -->

    @Html.Partial("Extra")

    @Html.Partial("Footer")

    @Scripts.Render("~/js/common")

    <script>
        $(function () {

        });
    </script>
</body>
</html>
