@using System.Globalization
@using System.Web.Optimization
@model TekConf.UI.Api.Services.Requests.v1.CreateSpeaker
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    <title>Edit Speaker - tekconf</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet" type="text/css">
    @Styles.Render("~/css/conferences/detail")

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
		@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryMigrate")
	@Scripts.Render("~/js/common")
	@Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/scripts/conferences/detail")

</head>

<body>

    @Html.Partial("Header")

    <div id="subheader">
        <div class="inner">
            <div class="container">
                <h1>Edit Speaker</h1>
            </div>
            <!-- /.container -->
        </div>
        <!-- /inner -->
    </div>
    <!-- /subheader -->

    <div id="subpage">
        <div class="container">
            @using (Html.BeginForm("EditSpeakerInConference", "AdminSpeaker", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <legend>Main Information</legend>

                    <div class="span4">
                        @Html.HiddenFor(s => s.slug)
                        @Html.HiddenFor(s => s.conferenceSlug)

                        <label>First Name</label>
                        @Html.TextBoxFor(c => c.firstName)

                        <label>Last Name</label>
                        @Html.TextBoxFor(c => c.lastName)

                        <label>Is Featured?</label>                        
                        @Html.CheckBoxFor(c => c.isFeatured)

                        <label>Image</label>
                        <input type="file" name="file" id="file" />
                    </div>
                    <div class="span8">
                        <label>Description</label>
                        @Html.TextAreaFor(c => c.description, 10, 40, null)
                    </div>
                    
                </div>
                <div class="row">
                    <legend>Optional Information</legend>

                    <div class="span4">
                        <label>Email</label>
                        @Html.TextBoxFor(c => c.emailAddress)
                        
                        <label>Phone Number</label>
                        @Html.TextBoxFor(c => c.phoneNumber)

                        <label>Website/Blog</label>
                        @Html.TextBoxFor(c => c.blogUrl)
                        
                        <label>Company</label>
                        @Html.TextBoxFor(c => c.company)

                        <label>Facebook</label>
                        @Html.TextBoxFor(c => c.facebookUrl)

                        <label>Twitter Name</label>
                        @Html.TextBoxFor(c => c.twitterName)
                        
                        <label>Google+</label>
                        @Html.TextBoxFor(c => c.googlePlusUrl)                        


                    </div>
                    <div class="span4">


                        <label>Vimeo</label>
                        @Html.TextBoxFor(c => c.vimeoUrl)

                        <label>YouTube</label>
                        @Html.TextBoxFor(c => c.youtubeUrl)

                        <label>GitHub</label>
                        @Html.TextBoxFor(c => c.githubUrl)
                        
                        <label>BitBucket</label>
                        @Html.TextBoxFor(c => c.bitbucketUrl)
                        
                        <label>CodePlex</label>
                        @Html.TextBoxFor(c => c.codeplexUrl)

                        <label>LinkedIn</label>
                        @Html.TextBoxFor(c => c.linkedInUrl)

                        <label>CoderWall</label>
                        @Html.TextBoxFor(c => c.coderWallUrl)

                        <label>StackOverflow</label>
                        @Html.TextBoxFor(c => c.stackoverflowUrl)
                    </div>

                </div>
                    
                <div class="row">
                    <input type="submit" class="btn-large btn btn-primary" value="Save Speaker" />
                </div>      
            }


        </div>
        <!-- /container -->

    </div>
    <!-- /subpage -->

    @Html.Partial("Extra")

    @Html.Partial("Footer")

    @Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryMigrate")
	@Scripts.Render("~/js/common")
	@Scripts.Render("~/bundles/jqueryUI")

    <script>
        $(function () {
            $('#start').datetimepicker();
            $('#end').datetimepicker();
            $('#callForSpeakersOpens').datetimepicker();
            $('#callForSpeakersCloses').datetimepicker();
            $('#registrationOpens').datetimepicker();
            $('#registrationCloses').datetimepicker();
        });
    </script>
</body>
</html>
