@using System.Globalization
@using System.Web.Optimization
@model TekConf.RemoteData.Dtos.v1.PresentationDto

@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Presentation - tekconf</title>
	<link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
	<link rel="search" type="application/opensearchdescription+xml" href="http://www.tekconf.com/TekConf.xml" title="TekConf Search" />

	@Styles.Render("~/css/api/index")

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>
	@Html.Partial("Header")

	<div id="subheader">
		<div class="inner">
			<div class="container">
				<h1>@Model.Title</h1>
			</div>
			<!-- /.container -->
		</div>
		<!-- /inner -->
	</div>
	<!-- /subheader -->

	<div id="subpage">
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="big-intro">
						<img src="@Model.ImageUrl" alt="@Model.Title" style="horiz-align: left;">
						@if (@Model.Videos.Any())
							{
							<iframe width="422" height="316" src="@Model.Videos[0]" frameborder="0" allowfullscreen></iframe>
							}
					</div>
				</div>
			</div>


			<br />
			<div class="row">

				<div class="span8">
					@Model.Description
					<br />

					@Model.Comments
				</div>
				<div class="span4">


					<div class="sidebar">
						<h4><span class="slash">//</span> More Information</h4>
						<p>
							<b>Level/Difficulty :</b> @Model.Difficulty
							<br />
							<b>Expected Length :</b> @Model.Length
							<br />
							<b>Uploaded :</b> @Model.UploadedOn
							<br />
							<b>Number of Views :</b> @Model.NumberOfViews
							<br />
						</p>

						@if (Model.Subjects != null && Model.Subjects.Any())
			{
							<b>Subjects</b>
							<p>
								@foreach (var subject in Model.Subjects)
				{
									@subject<br />
				}
							</p>
			}

						@if (Model.Tags != null && Model.Tags.Any())
			{
							<b>Tags</b>
							<p>
								@foreach (var tag in Model.Tags)
				{
									@tag<br />
				}
							</p>
			}

						@if (Model.DownloadPaths != null && Model.DownloadPaths.Any())
			{
							<b>Download Paths</b>
							<p>
								@foreach (var downloadPath in Model.DownloadPaths)
				{
									@downloadPath
				}
							</p>
			}

						@if (Model.History != null && Model.History.Any())
			{
							<b>History</b>
							<p>
								@foreach (var history in Model.History)
				{
									@history.ConferenceName
				}
							</p>
			}

						<br />
					</div>


				</div>




			</div>
			<!-- /row -->

			<br />
			<br />

			<div class="row">
			</div>
			<!-- /row -->

		</div>
		<!-- /container -->

	</div>

	@Html.Partial("Extra")

	@Html.Partial("Footer")

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryMigrate")
	@Scripts.Render("~/js/common")
	@Scripts.Render("~/js/commonFaq")

	<script>
		$(function () {

		});
	</script>
</body>
</html>
