@using System.Web.Optimization
@using TekConf.RemoteData.Dtos.v1
@model TekConf.Web.ViewModels.ScheduleViewModel

@{
	var conferences = Model.Conferences ?? new List<FullConferenceDto>();
	int currentYear = 0;
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-30">
	<div class="container">
		<h1 class="color-green pull-left">My Schedule</h1>
	</div>
	<!--/container-->
</div>
<!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
	<div class="row-fluid">
		<div class="span12">

			@if (Request.IsAuthenticated)
			{
		 
				<!-- Accardion -->
				<div class="accordion acc-home margin-bottom-40" id="accordion2">

					@foreach (var conference in conferences)
					{

						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseMy-@conference.slug">
										@conference.name
									</a>
								</h4>
							</div>
							<div id="collapseMy-@conference.slug" class="panel-collapse collapse @(@conference.slug == conferences.First().slug ? "in" : "")">
								<div class="panel-body">
									<div class="span4">
										<img src="@conference.imageUrl" style="height:80px;" />
									</div>
									<div class="span8">
										Registration : @HtmlHelpers.FormatDateRange(conference.registrationOpens, conference.registrationCloses)<br />
										Conference : @HtmlHelpers.FormatDateRange(conference.start, conference.end)<br />
										Location : @HtmlHelpers.FormatAddress(conference.address)<br />
										@using (Html.BeginForm("Delete", "Schedule", FormMethod.Post, new { enctype = "multipart/form-data", id = "remove" + conference.slug }))
										{
											<a href="~/Conferences/@conference.slug" class="btn-u">View Conference</a>
						
											@Html.Hidden("conferenceSlug", conference.slug)
											<input type="button" value="Remove Conference" class="btn-u btn-u-red btn-mini" onclick="confirmRemoveConference('@conference.name', '@("remove" + conference.slug)');" />
										}
									</div>
								</div>
							</div>
						</div>			 

					}
					<!--/accordion-group-->
				</div>
				<!--/accardion-->
			}
		</div>
		<!--/span8-->

		
	</div>
	<!--/row-fluid-->
</div>

<!--/container-->
<!--=== End Content Part ===-->
@section scripts {
	changeMenuActive('menuSchedule');

		function confirmRemoveConference(conferenceSlug, formId) {
			document.getElementById('dialog-confirm').innerHTML = "Remove " + conferenceSlug +  " from your schedule?";
			
			$("#dialog-confirm" ).dialog({
				resizable: false,
				height:240,
				modal: true,
				autoOpen: true,
				closeText: "X",
				buttons: {
					"Remove": function() {
						$('#' + formId).submit();
						$( this ).dialog( "close" );
					},
					Cancel: function() {
						$( this ).dialog( "close" );
					}
				}
			});

			return false;
		}

}	