@using System.Web.Optimization
@using TekConf.RemoteData.Dtos.v1
@model TekConf.UI.Web.Controllers.HomePageViewModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>tekconf</title>
	<link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">

    @Styles.Render("~/css/home/index")

    <link href="~/js/lightbox/themes/default/jquery.lightbox.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>
    @Html.Partial("Header")

    <div id="landing">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="span4 landing-text">
                        <h1>Meet, connect, learn.</h1>
                        <p></p>
                        @*<p class="landing-actions">
                            <a href="javascript:;" class="btn btn-large btn-block btn-inverse">Sign up</a>
                        </p>*@
                    </div>
                    <!-- /landing-text -->
                    <div class="span8 landing-screenshot">
                        <img src="~/img/iPad1.png" class="screengrab" alt="Screenshot" />
                    </div>
                </div>
                <!-- .row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /inner -->
    </div>
    <!-- /landing -->

    <div id="content">
        <div class="inner">
            <div class="container">
                <div class="row">
                    @{

                        var spanClass = "span8";
                        if (Model.FeaturedSpeakers == null || Model.FeaturedSpeakers.Count == 0)
                        {
                            spanClass = "span12";
                        }
                    }
                    <div class="@spanClass">
                        <h3><span class="slash">//</span> Upcoming Conferences</h3>
                        <ul class="features-list">
                            @foreach (var featuredConference in Model.FeaturedConferences ?? new List<ConferencesDto>())
                            {
                                <li class="feature">
                                    <div class="feature-thumbnail">
                                        <div class="circle-icon">
                                            <div>
                                                <i class="icon-list-alt"></i>
                                            </div>
                                        </div>
                                        <!-- /circle-icon -->
                                    </div>

                                    <div class="feature-content">
                                        <h3>@Html.ActionLink(featuredConference.name, "Detail", "Conferences", new {conferenceSlug = featuredConference.slug }, null)</h3>
                                        <h3>@featuredConference.start.ToString("MMMM dd, yyyy")</h3>
                                        <p>@featuredConference.description</p>
                                    </div>
                                </li>
                            }


                        </ul>
                        <!-- /features-list -->

                        <!-- /features-list -->
                    </div>
                    <!-- /span8 -->
                    
                    @if (Model.FeaturedSpeakers != null && Model.FeaturedSpeakers.Count > 0)
                    {
                        <div class="span4">
                            <h3><span class="slash">//</span> Featured Speakers</h3>
                            <ul class="testimonials-list">
                                @foreach (var featuredSpeaker in Model.FeaturedSpeakers ?? new List<FullSpeakerDto>())
                                {
                                    <li>
                                        <div class="testimonial-avatar">
                                            <div class="img">
                                                <img src="~/img/avatar.png" alt="Thumbnail" />
                                            </div>
                                        </div>
                                        <!-- /testimonial-avatar -->

                                        <div class="testimonial-text">
                                            <p>
                                                <span class="testimonial-author">@featuredSpeaker.fullName</span>
                                                @featuredSpeaker.description
                                            </p>
                                        </div>
                                        <!-- /testimonial-text -->
                                    </li>
                                }

                            </ul>
                        </div>
                    }
                    <!-- /span4 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /inner -->

    </div>
    <!-- /content -->

    <div id="screenshots">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <h3>iOS</h3>
                        <a href="~/Apps" class="screenshot">
                            <img src="~/img/iOS.jpg" alt="iOS Screenshot" class="thumbnail" />
                            @*<span class="screenshot-zoom"></span>*@
                        </a>
                    </div>
                    <!-- /span4 -->
                    <div class="span4">
                        <h3>Android</h3>
                        <a href="~/Apps" class="screenshot">
                            <img src="~/img/android.png" alt="Android Screenshot" class="thumbnail" />
                           @* <span class="screenshot-zoom"></span>*@
                        </a>
                    </div>
                    <!-- /span4 -->
                    <div class="span4">
                        <h3>Windows 8</h3>
                        <a href="~/Apps" class="screenshot">
                            <img src="~/img/Windows8.png" alt="Windows 8 Screenshot" class="thumbnail" />
                            @*<span class="screenshot-zoom"></span>*@
                        </a>
                    </div>
                    <!-- /span4 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /inner -->
    </div>
    <!-- /screenshots -->

    @Html.Partial("Extra")

    @Html.Partial("Footer")
	
	    @Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryMigrate")
	@Scripts.Render("~/js/common")
	@Scripts.Render("~/js/commonLightbox")

	<script>
		$(function () {
            
		});
	</script>
</body>
</html>
