@using System.Web.Optimization
@model TekConf.UI.Web.Controllers.HomePageViewModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>tekconf</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">

    @Styles.Render("~/css/home/index")

    <link href="~/js/lightbox/themes/default/jquery.lightbox.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>
    @Html.Partial("Header")


    <div id="landing">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="span4 landing-text">
                        <h1>Meet, connect, learn.</h1>
                        <p>Curabitur semper, mi eget adipiscing pharetra, eros ipsum cursus libero, at tristique nisl nunc ut odio. Nunc nec tellus arcu  mi eget adipiscing pharetra. Eros ipsum cursus libero</p>
                        <p class="landing-actions">
                            <a href="javascript:;" class="btn btn-large btn-block btn-inverse">Sign up</a>
                        </p>
                    </div>
                    <!-- /landing-text -->
                    <div class="span8 landing-screenshot">
                        <img src="~/img/iPad1.png" class="screengrab" alt="Screenshot" />
                    </div>
                </div>
                <!-- .row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /inner -->
    </div>
    <!-- /landing -->

    <div id="content">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <h3><span class="slash">//</span> Upcoming Conferences</h3>
                        <ul class="features-list">
                            @foreach (var featuredConference in Model.FeaturedConferences)
                            {
                                <li class="feature">
                                    <div class="feature-thumbnail">
                                        <div class="circle-icon">
                                            <div>
                                                <i class="icon-list-alt"></i>
                                            </div>
                                        </div>
                                        <!-- /circle-icon -->
                                    </div>

                                    <div class="feature-content">
                                        <h3>@featuredConference.name</h3>
                                        <h3>@featuredConference.start.ToString("MMMM dd, yyyy")</h3>
                                        <p>@featuredConference.description</p>
                                    </div>
                                </li>
                            }


                        </ul>
                        <!-- /features-list -->

                        <!-- /features-list -->
                    </div>
                    <!-- /span8 -->

                    <div class="span4">
                        <h3><span class="slash">//</span> Featured Speakers</h3>
                        <ul class="testimonials-list">
                            @foreach (var featuredSpeaker in Model.FeaturedSpeakers)
                            {
                                <li>
                                    <div class="testimonial-avatar">
                                        <div class="img">
                                            <img src="~/img/avatar.png" alt="Thumbnail" />
                                        </div>
                                    </div>
                                    <!-- /testimonial-avatar -->

                                    <div class="testimonial-text">
                                        <p>
                                            <span class="testimonial-author">@featuredSpeaker.fullName</span>
                                            @featuredSpeaker.description
                                            </p>
                                    </div>
                                    <!-- /testimonial-text -->
                                </li>
                            }
                            
                        </ul>
                    </div>
                    <!-- /span4 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /inner -->

    </div>
    <!-- /content -->

    <div id="screenshots">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <h3>iOS</h3>
                        <a href="~/img/screenshots/placeholder.gif" class="screenshot">
                            <img src="~/img/iOS.jpg" alt="Screenshot" class="thumbnail" />
                            <span class="screenshot-zoom"></span>
                        </a>
                    </div>
                    <!-- /span4 -->
                    <div class="span4">
                        <h3>Android</h3>
                        <a href="~/img/screenshots/placeholder.gif" class="screenshot">
                            <img src="~/img/android.png" alt="Screenshot" class="thumbnail" />
                            <span class="screenshot-zoom"></span>
                        </a>
                    </div>
                    <!-- /span4 -->
                    <div class="span4">
                        <h3>Windows 8</h3>
                        <a href="~/img/screenshots/placeholder.gif" class="screenshot">
                            <img src="~/img/Win8.jpg" alt="Screenshot" class="thumbnail" />
                            <span class="screenshot-zoom"></span>
                        </a>
                    </div>
                    <!-- /span4 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /inner -->
    </div>
    <!-- /screenshots -->

    <div id="extra">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <h3><span class="slash">//</span> Quick Links</h3>

                        <ul class="footer-links clearfix">
                            <li><a href="~/">Home</a></li>
                            <li><a href="~/Conferences">Conferences</a></li>
                            <li><a href="~/Schedule">My Schedule</a></li>
                        </ul>

                        <ul class="footer-links clearfix">
                            <li><a href="~/Api">Api</a></li>
                            <li><a href="~/Apps">Apps</a></li>
                        </ul>

                    </div>
                    <!-- /span4 -->
                    <div class="span4">
                        <h3><span class="slash">//</span> Stay In Touch</h3>

                        <p>There are real people behind tekconf, so if you have a question or suggestion (no matter how small) please get in touch with us:</p>

                        <ul class="social-icons-container">
                            <li>
                                <a href="javascript:;" class="social-icon social-icon-twitter">Twitter
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="social-icon social-icon-googleplus">Google +
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="social-icon social-icon-facebook">Facebook
                                </a>
                            </li>
                        </ul>
                        <!-- /extra-social -->
                    </div>
                    <!-- /span4 -->
                    <div class="span4">
                        <h3><span class="slash">//</span> Subscribe and get updates</h3>
                        <p>Subscribe to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!</p>

                        <form>
                            <input type="text" name="subscribe_email" placeholder="Your Email" />
                            <br />
                            <button class="btn ">Subscribe</button>
                        </form>
                    </div>
                    <!-- /span4 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /inner -->
    </div>
    <!-- /extra -->

    @Html.Partial("Footer")

    @Scripts.Render("~/js/commonLightbox")

    <script>
        $(function () {
            $(".screenshot").lightbox();
        });
    </script>
</body>
</html>
