@using System.Globalization
@using System.Web.Optimization
@model TekConf.UI.Api.Services.Requests.v1.AddSession
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
					<link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    <title>Edit Session - tekconf</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet" type="text/css">
    @Styles.Render("~/css/conferences/detail")

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    @Scripts.Render("~/scripts/conferences/detail")
</head>

<body>

    @Html.Partial("Header")

    <div id="subheader">
        <div class="inner">
            <div class="container">
                <h1>Edit Session</h1>
            </div>
            <!-- /.container -->
        </div>
        <!-- /inner -->
    </div>
    <!-- /subheader -->

    <div id="subpage">
        <div class="container">

            @using (Html.BeginForm("EditSessionInConference", "AdminSession"))
            {
                <div class="row">
                    <legend>Main Information</legend>

                    <div class="span4">
                        @Html.HiddenFor(s => s.slug)

                        <label>Title</label>
                        @Html.TextBoxFor(c => c.title)
                        <span class="help-block">Example block-level help text here.</span>

                        <label>Start Date/Time</label>
                        @Html.TextBoxFor(c => c.start, new { type = "datetime" })

                        <label>End Date/Time</label>
                        @Html.TextBoxFor(c => c.end, new { type = "datetime" })

                        <label>Room</label>
                        @Html.TextBoxFor(c => c.room)

                        <label>Difficulty</label>
                        @Html.TextBoxFor(c => c.difficulty)

                        <label>Session Type</label>
                        @Html.TextBoxFor(c => c.sessionType)

                        <label>Twitter Hash Tag</label>
                        @Html.TextBoxFor(c => c.twitterHashTag)

                        @Html.HiddenFor(c => c.conferenceSlug)
                    </div>
                    <div class="span4">
                        <label>Description</label>
                        @Html.TextAreaFor(c => c.description, 19, 100, null)
                    </div>
                </div>

                <div class="row">
                    <div class="span-4">
                        <table class="table table-bordered table-condensed table-striped" id="prerequisitesTable">
                            <caption style="text-align: left">Prerequisites</caption>
                            <tbody>
                                <tr>
                                    <td><a href="#" class="addPrerequisite">Add</a></td>
                                </tr>
                                @for (var counter = 0; counter < Model.prerequisites.Count; counter++)
                                {
                                    <tr><td><input type="text" id="prerequisites[@counter]" name="prerequisites[@counter]" value="@Model.prerequisites[counter]" /></td></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div> 
                <div class="row">
                    <div class="span-4">
                        <table class="table table-bordered table-condensed table-striped" id="resourcesTable">
                            <caption style="text-align: left">Resources</caption>
                            <tbody>
                                <tr>
                                    <td><a href="#" class="addResource">Add</a></td>
                                </tr>
                                @for (var counter = 0; counter < Model.resources.Count; counter++)
                                {
                                    <tr><td><input type="text" id="resources[@counter]" name="resources[@counter]" value="@Model.resources[counter]" /></td></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>                 
                <div class="row">
                    <div class="span-4">
                        <table class="table table-bordered table-condensed table-striped" id="subjectsTable">
                            <caption style="text-align: left">Subjects</caption>
                            <tbody>                                 
                                <tr>
                                    <td><a href="#" class="addSubject">Add</a></td>
                                </tr>
                                @for (var counter = 0; counter < Model.subjects.Count; counter++)
                                {
                                    <tr><td><input type="text" id="subjects[@counter]" name="subjects[@counter]" value="@Model.subjects[counter]" /></td></tr>
                                } 
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="span-4">
                        <table class="table table-bordered table-condensed table-striped" id="tagsTable">
                            <caption style="text-align: left">Tags</caption>
                            <tbody>                                 
                                <tr>
                                    <td><a href="#" class="addTag">Add</a></td>
                                </tr>
                                @for (var counter = 0; counter < Model.tags.Count; counter++)
                                {
                                    <tr><td><input type="text" id="tags[@counter]" name="tags[@counter]" value="@Model.tags[counter]" /></td></tr>
                                } 
                            </tbody>
                        </table>
                    </div>
                </div>                 
                <div class="row">
                    <div class="span-4">
                        <table class="table table-bordered table-condensed table-striped" id="linksTable">
                            <caption style="text-align: left">Links</caption>
                            <tbody>                                
                                <tr>
                                    <td><a href="#" class="addLink">Add</a></td>
                                </tr>
                                @for (var counter = 0; counter < Model.links.Count; counter++)
                                {
                                    <tr><td><input type="text" id="links[@counter]" name="links[@counter]" value="@Model.links[counter]" /></td></tr>
                                }  
                            </tbody>
                        </table>
                    </div>
                </div>
                                                    
                <div class="row">
                    <input type="submit" class="btn-large btn btn-primary" value="Save Session" />
                </div>      
            }


        </div>
        <!-- /container -->

    </div>
    <!-- /subpage -->

    @Html.Partial("Extra")

    @Html.Partial("Footer")

    @Scripts.Render("~/js/common")

    <script>
        $(function () {
            $('#start').datetimepicker();
            $('#end').datetimepicker();
        });

        $('.addPrerequisite').live('click', function (e) {
            e.preventDefault();

            $(this).closest('tr').after('<tr><td><input type="text" id="prerequisite" /><span></span></td></tr>');

            $('#prerequisitesTable td').each(function (index, el) {
                var element = index - 1;
                $('input', this).attr('id', 'prerequisites[' + element + ']');
                $('input', this).attr('name', 'prerequisites[' + element + ']');

            });
        });

        $('.addResource').live('click', function (e) {
            e.preventDefault();

            $(this).closest('tr').after('<tr><td><input type="text" /></td></tr>');

            $('#resourcesTable td').each(function (index, el) {
                var element = index - 1;
                $('input', this).attr('id', 'resources[' + element + ']');
                $('input', this).attr('name', 'resources[' + element + ']');

            });
        });

        $('.addSubject').live('click', function (e) {
            e.preventDefault();

            $(this).closest('tr').after('<tr><td><input type="text" /></td></tr>');

            $('#subjectsTable td').each(function (index, el) {
                var element = index - 1;
                $('input', this).attr('id', 'subjects[' + element + ']');
                $('input', this).attr('name', 'subjects[' + element + ']');

            });
        });

        $('.addTag').live('click', function (e) {
            e.preventDefault();

            $(this).closest('tr').after('<tr><td><input type="text" /></td></tr>');

            $('#tagsTable td').each(function (index, el) {
                var element = index - 1;
                $('input', this).attr('id', 'tags[' + element + ']');
                $('input', this).attr('name', 'tags[' + element + ']');

            });
        });

        $('.addLink').live('click', function (e) {
            e.preventDefault();

            $(this).closest('tr').after('<tr><td><input type="text" /></td></tr>');

            $('#linksTable td').each(function (index, el) {
                var element = index - 1;
                $('input', this).attr('id', 'links[' + element + ']');
                $('input', this).attr('name', 'links[' + element + ']');

            });
        });

        $('.addSpeaker').live('click', function (e) {
            e.preventDefault();

            $(this).closest('tr').after('<tr><td><input type="text" /></td></tr>');

            $('#speakersTable td').each(function (index, el) {
                var element = index - 1;
                $('input', this).attr('id', 'speakers[' + element + ']');
                $('input', this).attr('name', 'speakers[' + element + ']');

            });
        });
    </script>
</body>
</html>
