@using System.Web.Optimization
@using TekConf.RemoteData.Dtos.v1
@using TekConf.Web.Controllers
@model TekConf.Web.Controllers.HomePageViewModel

@{
	ViewBag.Title = "Home Page";
}

<!--=== Slider ===-->
<div class="slider-inner">
	<div id="da-slider" class="da-slider">
		<div class="da-slide">
			<h2><i>MEET.</i><br /><i>CONNECT.</i><br /><i>LEARN.</i></h2>
		</div>
	</div>
	<!--/da-slider-->
</div>
<!--/slider-->
<!--=== End Slider ===-->
<!--=== Purchase Block ===-->

<!--/row-fluid-->
<!-- End Purchase Block -->
<!--=== Content Part ===-->
<div class="container">
	<!-- Service Blocks -->

	<!--/row-fluid-->
	<!-- //End Service Blokcs -->
	<!-- Recent Works -->
	<div class="headline">
		<h3>@Model.TotalCount Upcoming Conferences</h3>
	</div>
	<ul class="thumbnails">

		@foreach (var featuredConference in Model.FeaturedConferences ?? new List<FullConferenceDto>())
	{
			<li class="span3">
				<div class="thumbnail-style thumbnail-kenburn">
					<div class="thumbnail-img">
						<div class="overflow-hidden">
                            <a href="~/Conferences/@featuredConference.slug"><img src="@featuredConference.imageUrl" alt="@featuredConference.name" /></a></div>
						<a class="btn btn-more hover-effect" href="~/Conferences/@featuredConference.slug">read more +</a>
					</div>
					<h3>@Html.ActionLink(featuredConference.name, "Detail", "Conferences", new { conferenceSlug = featuredConference.slug }, new {@class = "hover-effect"})</h3>
				    <p>
				        <a href="~/Conferences/@featuredConference.slug" class="hover-effect">
				            @featuredConference.start.ToString("MMMM dd, yyyy")<br>@featuredConference.description
				        </a>
</p>
				</div>
			</li>
	}



	</ul>
	<!--/thumbnails-->
	<!-- //End Recent Works -->
	<!-- Information Blokcs -->
	
	<!-- //End Information Blokcs -->
	<!-- Our Clients -->
	
	<!--/flexslider-->
	<!-- //End Our Clients -->
</div>
<!--/container-->
<!-- End Content Part -->
@section scripts {
	changeMenuActive('menuHome');
}