@using System.Web.Optimization
@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    <title>Schedules - tekconf</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    @Styles.Render("~/css/schedule/index")

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>
    @Html.Partial("Header")

    <div id="subheader">
        <div class="inner">
            <div class="container">
                <h1>My Schedule</h1>
            </div>
            <!-- /.container -->
        </div>
        <!-- /inner -->
    </div>
    <!-- /subheader -->

    <div id="subpage">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <h3><span class="slash">//</span> Conferences</h3>
                    Once implemented, you will be able to see the conferences and sessions that you are attending.
                </div>
                <!-- /span8 -->

                <!-- /span4 -->
            </div>
            <!-- /row -->



        </div>
        <!-- /container -->
    </div>
    <!-- /subpage -->

    @Html.Partial("Extra")

    @Html.Partial("Footer")
    
    @Scripts.Render("~/js/commonFaq")

    <script>
        $(function () {
        });
    </script>
</body>
</html>
