@helper SimpleLink(string url, string text)
{
    @: <a href="@url">@text</a>
}
        
@helper PhoneLink(string phoneNumber)
{
    @: <a href="tel:@phoneNumber">@phoneNumber</a>    
}
        
@helper TwitterUserLink(string twitterName)
{
    
    if (!string.IsNullOrWhiteSpace(twitterName))
    {
        string twitterUrlName = twitterName;
        if (twitterName.StartsWith("@"))
        {
            twitterUrlName = twitterName.Remove(0, 1);
        }

        var url = "http://twitter.com/" + twitterUrlName;
        @: @SimpleLink(url, twitterName)
    }
}

@helper FormatDateRange(DateTime startDate, DateTime endDate)
{
    if (startDate.Month == endDate.Month && startDate.Year == endDate.Year)
    {
        @: @startDate.ToString("MMMM")<text> </text>@startDate.Day<text> - </text>@endDate.Day<text>, </text>@startDate.Year
    }
    else
    {
        @: @startDate.ToShortDateString()<text> - </text>@endDate.ToShortDateString()<text>
    }
}
            
@helper FormatSessionTime(DateTime startDate, DateTime endDate)
{    
    @: @startDate.ToString("MMMM")<text> </text>@startDate.Day @startDate.ToShortTimeString()<text> - </text>@endDate.ToShortTimeString()
}