@using System.Web.Optimization
@model TekConf.RemoteData.Dtos.v1.SessionDto

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>@Model.conferenceSlug - @Model.title - tekconf</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet" type="text/css">
    @Styles.Render("~/css/session/detail")

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>

    @Html.Partial("Header")

    <div id="subheader">
        <div class="inner">
            <div class="container">
                <h1>@Model.conferenceSlug</h1>
            </div>
            <!-- /.container -->
        </div>
        <!-- /inner -->
    </div>
    <!-- /subheader -->

    <div id="subpage">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="big-intro">@Model.title</div>
                </div>
                <!-- /span12 -->
            </div>
            <!-- /row -->
            <br />
            <br />

            <div class="row">
                <div class="span6">
                    <p>@Model.description</p>
                </div>
                <!-- /span6 -->


                <div class="span4">
                    <div class="sidebar">
                        <h4><span class="slash">//</span> More Information</h4>
                        <p>
                            <b>Time :</b>
                            @Model.start.ToString("dddd hh:mm")<text> - </text>@Model.end.ToString("hh:mm")<br />
                            <b>Room :</b>
                            @Model.room<br />
                            <b>Difficulty :</b>
                            @Model.difficulty<br />
                            <b>Type :</b>
                            @Model.sessionType<br />
                            <b>Twitter :</b>
                            @Model.twitterHashTag<br />
                        </p>
                        @if (@Model.links.Any())
                        {
                            <b>Links</b>
                            <p>
                                @foreach (var link in @Model.links)
                                {
                                    @link<br />
                                }
                            </p>
                        }
                        @if (Model.prerequisites.Any())
                        {
                            <b>Prerequisites</b>
                            <p>
                                @foreach (var prerequisite in @Model.prerequisites)
                                {
                                    @prerequisite<br />
                                }
                            </p>
                        }
                        @if (Model.subjects.Any())
                        {
                            <b>Subjects</b>
                            <p>
                                @foreach (var subject in @Model.subjects)
                                {
                                    @subject<br />
                                }
                            </p>
                        }
                        @if (Model.tags.Any())
                        {
                            <b>Tags</b>
                            <p>
                                @foreach (var tag in @Model.tags)
                                {
                                    @tag<br />
                                }
                            </p>
                        }
                    </div>
                    <!-- /sidebar -->
                </div>
                <!-- /span4 -->


            </div>
            <!-- /row -->

            <br />
            <br />

            <div class="row">
                <div class="span12">
                    <h3><span class="slash">//</span> Speakers</h3>
                </div>
                <!-- /span12 -->

                @foreach (var speaker in Model.speakers)
                {
                    <div class="span4">
                        <div class="about-user">
                            <div class="img">
                                <img src="~/img/avatar.png" alt="@speaker.fullName" />
                            </div>

                            <h4>@Html.RouteLink(speaker.fullName, "SessionSpeakerDetail", new { conferenceSlug = Model.conferenceSlug, sessionSlug = Model.slug, speakerSlug = speaker.slug }, null)</h4>

                            <p>@speaker.description</p>
                        </div>
                        <!-- /about-user -->

                    </div>
                    <!-- /span4 -->                    
                }

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->



    </div>
    <!-- /subpage -->

    @Html.Partial("Extra")


    @Html.Partial("Footer")

    @Scripts.Render("~/js/common")

    <script>
        $(function () {

        });
    </script>
</body>
</html>
